<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.first.domain.ProductDTO" alias="ProductDTO"/>
		<typeAlias type="com.first.domain.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.first.domain.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.first.domain.ReplyDTO" alias="ReplyDTO"/>
		<typeAlias type="com.first.domain.AttachDTO" alias="AttachDTO"/>
		<typeAlias type="com.first.domain.DailyDTO" alias="DailyDTO"/>
	</typeAliases>
</configuration>