<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.first.persistence.BoardDAO">
	<select id="boardList" resultType = "BoardDTO">
		<include refid="paging_header"/>
		SELECT bno, title, writer,type, name, updatedate, viewcnt, replycnt, goodcnt, filecnt, show , re_level
		FROM tbl_board b, tbl_member m
		<include refid="search"/>
		<if test="map.sort_option == 'new'"> 
		ORDER BY ref DESC, re_step ASC
		</if>
		<if test="map.sort_option == 'cnt'"> 
		ORDER BY b.viewcnt DESC	
		</if>
		<if test="map.sort_option == 'reply'"> 
		ORDER BY b.replycnt DESC	
		</if>
		<if test="map.sort_option == 'good'"> 
		ORDER BY b.goodcnt DESC	
		</if>
		
		<include refid="paging_footer"/>
	</select>
	<sql id = "paging_header">
		SELECT *
		FROM ( 
			SELECT rownum AS rnum, A.*
			FROM(
	</sql>
	<sql id ="paging_footer">
			) A
		) WHERE rnum BETWEEN #{map.start} AND #{map.end}
	</sql>
	
	
	<select id="countArticle" resultType = "Integer">
		SELECT count(*)
		FROM tbl_board b, tbl_member m
		<include refid="search"/>
					  		
	</select>
	<sql id="search">
		<choose>
			<when test="map.search_option != 'all'">
				WHERE b.writer = m.id 
			  		  AND b.show = 'y' 			  
			  		  AND #{map.search_option} LIKE #{map.keyword}
			</when>
			<otherwise>
			WHERE b.writer = m.id 
			  AND show = 'y' 
			  AND (title LIKE #{map.keyword}
			       OR search_content LIKE #{map.keyword}
			  	   OR writer LIKE #{map.keyword})</otherwise>
		</choose>
	</sql>
	<select id="viewList" resultType = "BoardDTO">
		SELECT * from tbl_board
		WHERE bno = #{param1}
	</select>
	<update id="drop">
		UPDATE tbl_board
     	SET show = 'n'
     	WHERE bno =#{param1} 
	</update>
	<update id="increaseViewcnt">
		UPDATE tbl_board
		SET viewcnt = viewcnt+1
		WHERE bno =#{bno}
	</update>
	<insert id="write">
		INSERT INTO tbl_board(bno,type,title,view_content,search_content,writer,filecnt,ref)
		VALUES(seq_board.NEXTVAL,#{type},#{title},#{view_content},#{search_content},#{writer},#{filecnt},seq_board.CURRVAL)
		<selectKey keyProperty="bno" resultType="Integer" order="AFTER">
			SELECT seq_board.CURRVAL FROM dual
		</selectKey>
	</insert>
	<update id="update">
		UPDATE tbl_board
		SET title = #{title},
			type = #{type},
			view_content = #{view_content},
			search_content = #{search_content},
			updatedate = sysdate	
		WHERE bno =#{bno}
	</update>
	
	<update id="update_step">
		UPDATE tbl_board
		SET Re_step = Re_step+1
		WHERE ref =#{ref} AND re_step>#{re_step}
	</update>
	<insert id="answer">
		INSERT INTO tbl_board(bno,type,title,view_content,search_content,writer,filecnt,ref,re_step,re_level)
		VALUES(seq_board.NEXTVAL,#{type},#{title},#{view_content},#{search_content},#{writer},#{filecnt},#{ref},#{re_step},#{re_level})		
	</insert>
	<insert id="addAttach">
		INSERT INTO tbl_attach(fullname,bno)
		VALUES (#{fullName},seq_board.CURRVAL)
	</insert>
	<select id="getAttach" resultType="String">
		SELECT fullname FROM tbl_attach
		WHERE bno = #{bno}
		ORDER BY regdate DESC
	</select>
	<delete id="deleteAttach">
		DELETE FROM tbl_attach WHERE bno = #{bno}
	</delete>
</mapper>